@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@import url('https://fonts.cdnfonts.com/css/miama');

/* shared font styles */

* {
    margin: 0;
    padding: 0;
}

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;
}

.miama-font {
    font-family: 'Miama', sans-serif;
}

.display_flex {
    display: flex;
}

.btn_primary {
    padding: 1rem 2.5rem;
    background-color: #E6533C;
    border-radius: 2.5rem;
    border: none;
    font-size: 1.2rem;
    color: white;
    font-weight: 500;
}

.title_primary{
    font-size: 3rem;
    font-weight: 900;
    color: white;
}

.description_primary{
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.50);
    line-height: 24px;
    letter-spacing: 0.3px;
}

/* body style */
body {
    background-color: #000;
    color: white;
}

/* header styles */
header {
    background: linear-gradient(10deg, #111 0%, rgb(119, 119, 119) 300%);
}

/* navigation related styles */
.nav_container {
    max-width: 1060px;
    margin: 0 auto;
    padding: 30px 0;
    justify-content: space-between;
    align-items: center;
}

.brand {
    font-size: 2.2rem;
    font-weight: 800;
    font-style: italic;
    color: #E6533C;
}

.nav ul {
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    border-radius: 2.4375rem;
    border: 1px solid rgba(255, 255, 255, 0.10);
}

.nav ul li {
    list-style: none;
    font-size: 1.1rem;
    font-weight: 400;
    color: white;
    padding: 0.5rem;
    cursor: pointer;
}

.nav ul li:last-child {
    margin-right: 0.7rem;
}

.nav ul .home {
    font-weight: 500;
    border-radius: 2.4375rem;
    background-color: #E6533C;
    padding: 0.5rem 1.25rem;
    margin: 0.1rem;
}

.fa-bars {
    font-size: 1.5rem;
    color: white;
    display: none;
}

/* banner related styles */
.banner_container {
    max-width: 1060px;
    margin: 0 auto;
    gap: 160px;
}

.banner_info {
    max-width: 520px;
    margin: auto;
}

.banner_info h2,
.banner_info span {
    font-size: 4.5rem;
    color: white;
    font-weight: 900;
    line-height: 4rem;
}

.banner_info span {
    font-size: 6rem;
    font-weight: 400;
}

.banner_info p {
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.50);
    margin: 1.5rem 0;
    line-height: 1.5rem;
    letter-spacing: 0.03125rem;
}

.download {
    margin-left: 1rem;
    background-color: transparent;
    border: 1px solid #FFF;
}

.extra {
    max-width: max-content;
    padding: 15px 19px;
    align-items: center;
    gap: 0.7rem;
    border-radius: 0.75rem;
    border: 1px solid rgba(255, 255, 255, 0.10);
    background: rgba(48, 48, 48, 0.319);
    backdrop-filter: blur(10px);
}

.circle {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: #E6533C;
}

.extra h3 {
    font-size: 1.8rem;
    font-weight: 900;
    color: #FAFAF9;
}

.extra p {
    margin-top: 0.2rem;
    font-size: 0.9rem;
    font-weight: 400;
    color: rgba(239, 237, 232, 0.65);
}

.banner_img {
    position: relative;
}

.banner_img img {
    width: 100%;
}

.extra1 {
    position: absolute;
    bottom: 4rem;
    left: -6rem;
}

.extra2 {
    position: absolute;
    top: 7rem;
    right: -3rem;
    padding: 17px 22px;
}

/* habit styles */
.habit {
    max-width: 1044px;
    margin: 80px auto;
}

.habit_info {
    text-align: center;
    width: 80%;
    margin: 0 auto;
    gap: 0.8rem;
    margin-bottom: 3rem;
}

.habit_title {
    margin-bottom: 1rem;
}

.habit_descriptions {
    margin: 0 12%;
}

.habit_img_containers {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2.5rem;
}

.habit_img_container {
    text-align: center;
}

.habit_img {
    height: 180px;
    border-radius: 50%;
    margin-bottom: 2rem;
}

.habit_img_title {
    font-size: 1.2rem;
    font-weight: 700;
}

.habit_img_description {
    padding: 0.5rem 0.7rem;
}




/* responsive mobile */
@media screen and (max-width:576px) {
    .nav_container {
        width: 95%;
    }

    .banner_container {
        flex-direction: column;
        gap: 3rem;
    }

    .banner_info {
        margin: 1.25rem;
    }

    .banner_info div {
        margin: 1.5rem 0 2rem;
    }

    .banner_info h2,
    .banner_info span {
        font-size: 2.5rem;
        line-height: 2.8rem;
    }

    .banner_info p {
        margin: 2.5rem auto;
    }

    .banner_info span {
        font-size: 3.5rem;
    }

    .banner_img img {
        height: 60vh;
        object-fit: cover;
        object-position: 25% 10%;
    }

    .btn_primary {
        width: 46%;
        padding: 1rem 2%;
    }

    .list {
        display: none;
    }

    .fa-bars {
        display: block;
    }

    .extra {
        padding: 12px 13px;
    }

    .extra1 {
        bottom: 11rem;
        left: 1rem;
    }

    .extra2 {
        top: 4rem;
        right: 1rem;
    }

    .habit_descriptions {
        margin: auto 5%;
    }

    .habit_title {
        font-size: 2rem;
    }

    .habit_img_containers {
        grid-template-columns: repeat(1, 1fr);
    }

    .habit_img_container {
        margin-bottom: 5rem;
    }

    .habit_img {
        height: 70%;
    }

    .habit_img_description {
        margin-left: 20%;
        margin-right: 20%;
    }
}

/* responsive for tab */
@media screen and (min-width:576px) and (max-width:996px) {
    .nav_container {
        width: 90%;
    }

    .banner_container {
        flex-direction: column;
        gap: 4rem;
        width: 80%;
    }

    .banner_info {
        margin-top: 3rem;
    }

    .banner_img img {
        width: 70%;
        margin: 0 15%;
    }

    .extra1 {
        bottom: 10rem;
        left: 4rem;
        padding: 26px 30px;
    }

    .extra2 {
        top: 15rem;
        right: 7rem;
        padding: 26px 30px;
    }

    .habit_descriptions {
        width: 90%;
    }

    .habit_img_containers {
        grid-template-columns: repeat(2, 1fr);
    }
}