@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@import url('https://fonts.cdnfonts.com/css/miama');

/* shared font styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;
}

.miama-font {
    font-family: 'Miama', sans-serif;
}

.display_flex {
    display: flex;
}

.btn_primary {
    padding: 1rem 2.5rem;
    background-color: #E6533C;
    border-radius: 2.5rem;
    border: none;
    font-size: 1.2rem;
    color: white;
    font-weight: 500;
    cursor: pointer;
}

.title_primary {
    font-size: 3rem;
    font-weight: 900;
    color: white;
    margin-bottom: 14px;
}

.description_primary {
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.50);
    line-height: 24px;
    letter-spacing: 0.3px;
}

/* body style */
body {
    background-color: #000;
    color: white;
}

/* header styles */
header {
    background: linear-gradient(to bottom, #131313, #232323, #060606);
}

/* navigation related styles */
.nav_container {
    max-width: 1060px;
    margin: 0 auto;
    padding: 30px 0;
    justify-content: space-between;
    align-items: center;
}

.brand {
    font-size: 2.2rem;
    font-weight: 800;
    font-style: italic;
    color: #E6533C;
}

.nav ul {
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    border-radius: 2.4375rem;
    border: 1px solid rgba(255, 255, 255, 0.10);
}

.nav ul li {
    list-style: none;
    font-size: 1.1rem;
    font-weight: 400;
    color: white;
    padding: 0.5rem;
    cursor: pointer;
}

.nav ul li:last-child {
    margin-right: 0.7rem;
}

.nav ul .home {
    font-weight: 500;
    border-radius: 2.4375rem;
    background-color: #E6533C;
    padding: 0.5rem 1.25rem;
    margin: 0.1rem;
}

.fa-bars {
    font-size: 1.5rem;
    color: white;
    display: none;
}

/* banner related styles */
.banner_container {
    max-width: 1060px;
    margin: 0 auto;
    gap: 160px;
}

.banner_info {
    max-width: 520px;
    margin: auto;
}

.banner_info h2,
.banner_info span {
    font-size: 4.5rem;
    color: white;
    font-weight: 900;
    line-height: 4rem;
}

.banner_info span {
    font-size: 6rem;
    font-weight: 400;
}

.banner_info p {
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.50);
    margin: 1.5rem 0;
    line-height: 1.5rem;
    letter-spacing: 0.03125rem;
}

.download {
    margin-left: 1rem;
    background-color: transparent;
    border: 1px solid #FFF;
}

.extra {
    max-width: max-content;
    padding: 15px 19px;
    align-items: center;
    gap: 0.7rem;
    border-radius: 0.75rem;
    border: 1px solid rgba(255, 255, 255, 0.10);
    background: rgba(48, 48, 48, 0.319);
    backdrop-filter: blur(10px);
}

.circle {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: #E6533C;
}

.extra h3 {
    font-size: 1.8rem;
    font-weight: 900;
    color: #FAFAF9;
}

.extra p {
    margin-top: 0.2rem;
    font-size: 0.9rem;
    font-weight: 400;
    color: rgba(239, 237, 232, 0.65);
}

.banner_img {
    position: relative;
}

.banner_img img {
    width: 100%;
}

.extra1 {
    position: absolute;
    bottom: 4rem;
    left: -6rem;
}

.extra2 {
    position: absolute;
    top: 7rem;
    right: -3rem;
    padding: 17px 22px;
}

/* habit styles */
.habit {
    max-width: 1044px;
    margin: 100px auto;
}

.habit_info {
    text-align: center;
    width: 80%;
    margin: 0 auto;
    gap: 0.8rem;
    margin-bottom: 3rem;
}

.habit_title {
    margin-bottom: 1rem;
}

.habit_descriptions {
    margin: 0 12%;
}

.habit_img_containers {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2.5rem;
}

.habit_img_container {
    text-align: center;
}

.habit_img {
    height: 180px;
    border-radius: 50%;
    margin-bottom: 2rem;
}

.habit_img_title {
    font-size: 1.2rem;
    font-weight: 700;
}

.habit_img_description {
    padding: 0.5rem 0.7rem;
}


/* run section styles */


.run {
    max-width: 1060px;
    margin: 0 auto;
    padding: 30px;
    padding-left: 50px;
    background-color: #222;
    border-radius: 18px;
    justify-content: space-between;
}

.run_info {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.run_descriptions {
    margin-bottom: 30px;
}

.run_btn {
    padding-left: 70px;
    padding-right: 70px;
}

.run_img_container {
    width: 360px;
    height: 310px;
    overflow: hidden;
    border-radius: 18px;
    margin-top: auto;
    margin-bottom: auto;
}

.run_image {
    width: 100%;
    transform: scale(3.5) translate(-45px, 37px);
}


/* Trainings and Exercises related styles */
.exercise {
    max-width: 1060px;
    margin: 80px auto;
}

.exercise_info {
    max-width: 600px;
    margin-bottom: 50px;
}

.exercise_img_containers_1 {
    display: grid;
    grid-template-columns: 25fr 52fr 29fr;
    width: 100%;
}

.exercise_img_containers_2 {
    display: grid;
    grid-template-columns: 425fr 288fr 347fr;
    width: 100%;
}

.exercise_img_container {
    width: 100%;
    height: 220px;
    overflow: hidden;
    position: relative;
}

.exercise_img_description {
    position: absolute;
    color: #FFF;
    top: 170px;
    left: 20px;
    font-weight: normal;
    font-size: 0.9rem;
    letter-spacing: 1px;
}

.exercise_img_container1 {
    background: linear-gradient(0deg, rgba(6, 255, 210, 0.50) 0%, rgba(6, 255, 210, 0.50) 100%), url(../images/exercise1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.exercise_img_container2 {
    background-image: linear-gradient(0deg, rgba(255, 0, 0, 0.30) 0%, rgba(255, 0, 0, 0.30) 100%), url(../images/exercise2.png);
    background-position: -0.336px 0px;
    background-size: 100.125% 111.811%;
    background-repeat: no-repeat;
}

.exercise_img_container3 {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.50) 0%, rgba(0, 0, 0, 0.50) 100%), url(../images/exercise3.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.exercise_img_container4 {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.50) 0%, rgba(0, 0, 0, 0.50) 100%), url(../images/exercise4.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.exercise_img_container5 {
    background: linear-gradient(0deg, rgba(66, 255, 0, 0.30) 0%, rgba(66, 255, 0, 0.30) 100%), url(../images/exercise5.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.exercise_img_container6 {
    background: linear-gradient(0deg, rgba(0, 71, 255, 0.30) 0%, rgba(0, 71, 255, 0.30) 100%), url(../images/exercise6.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}



/* BMI Calculator related styles */
.bmi_info {
    max-width: 660px;
    margin: 0 auto 80px;
}

.bmi_container_container {
    background-color: #222222;
}

.bmi_container {
    max-width: 1060px;
    margin: 40px auto 0;
    background-color: #222222;
    justify-content: space-between;
    gap: 170px;
}

.bmi_calculator_title,
.bmt_chart_title {
    color: #FFF;
    font-size: 28px;
    font-weight: 900;
    margin: 50px 0 14px;
}

.bmt_chart_title {
    margin: 50px 0;
}

.bmi_chart_table,
.bmi_chart_table td,
.bmi_chart_table th {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-collapse: collapse;
}

.bmi_chart_table td,
.bmi_chart_table th {
    padding: 15px;
    padding: auto;
    text-align: left;
    width: 240px;
}

.bmi_chart_table td {
    color: rgba(255, 255, 255, 0.50);
    font-size: 14px;
}

.bmi_chart_table th {
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
}

.bmi_calculator {
    display: flex;
    flex-direction: column;
    gap: 34px;
}

.bmi_calculator form input,
.bmi_calculator form select {
    padding: 12px;
    color: rgba(255, 255, 255, 0.60);
    font-size: 16px;
    background-color: #383838;
    border: none;
    border-radius: 8px;
    font-weight: 400;
}

.bmi_calculator form input,
.bmi_calculator form select#gender {
    width: 47%;
    margin: 1%;
}

.bmi_calculator form select#activity {
    width: 97%;
    margin-left: 1%;
    margin-top: 1.1%;
    padding-bottom: 14px;
    letter-spacing: 0.8px;
}

.btn_bmi {
    width: 200px;
    margin-bottom: 40px;
}


/* Our Team Related styles */
.team {
    max-width: 1060px;
    margin: 75px auto;
}

.team_info {
    max-width: 600px;
    margin: 0 auto 50px;
    text-align: center;
}

.team_img_containers {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    border-radius: 18px;
    background-color: rgba(255, 255, 255, 0.10);
    padding: 20px;
}

.team_img_container {
    height: 270px;
    border-radius: 18px;
    position: relative;
}

.team_member_info {
    position: absolute;
    top: 80%;
    left: 5%;
}

.team_name {
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    margin-bottom: 3px;
}

.team_occupation {
    color: rgba(255, 255, 255, 0.50);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}

.team_img_container1 {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.20)0%, rgba(0, 0, 0, 0.20)100%), url(../images/trainer1.png);
    background-position: 80%;
    background-size: cover;
    background-repeat: no-repeat;
}

.team_img_container2 {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.20)0%, rgba(0, 0, 0, 0.20)100%), url(../images/trainer2.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.team_img_container3 {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.20)0%, rgba(0, 0, 0, 0.20)100%), url(../images/trainer3.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.team_img_container4 {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.20)0%, rgba(0, 0, 0, 0.20)100%), url(../images/trainer4.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.team_img_container5 {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.20)0%, rgba(0, 0, 0, 0.20)100%), url(../images/trainer5.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.team_img_container6 {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.20)0%, rgba(0, 0, 0, 0.20)100%), url(../images/trainer6.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


/* Footer related styles */
footer {
    background-color: #191919;
    padding: 60px 0 40px;
}

.inner_footer {
    max-width: 1060px;
    margin: 0 auto;
}

.footer_contents {
    gap: 100px;
    margin-bottom: 55px;
}

.brand_container {
    max-width: 440px;
}

.brand_name {
    color: #E6533C;
    font-family: Inter;
    font-size: 70px;
    font-style: italic;
    font-weight: 800;
    margin-bottom: 20px;
}

.get_started_container {
    gap: 150px;
}

.get_started_title {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 40px;
}

.get_started_menu {
    color: rgba(255, 255, 255, 0.50);
    font-size: 20px;
    font-weight: 200;
    margin-bottom: 20px;
}

.inner_footer hr {
    border: 1px solid  rgba(255, 255, 255, 0.10);
    margin-bottom: 38px;
}

.copy{
    text-align: center;
}


















/* responsive for mobile */
@media screen and (max-width:576px) {
    .nav_container {
        width: 95%;
    }

    .banner_container {
        flex-direction: column;
        gap: 3rem;
    }

    .banner_info {
        margin: 1.25rem;
    }

    .banner_info div {
        margin: 1.5rem 0 2rem;
    }

    .banner_info h2,
    .banner_info span {
        font-size: 2.5rem;
        line-height: 2.8rem;
    }

    .banner_info p {
        margin: 2.5rem auto;
    }

    .banner_info span {
        font-size: 3.5rem;
    }

    .banner_img img {
        height: 60vh;
        object-fit: cover;
        object-position: 25% 10%;
    }

    .btn_primary {
        width: 46%;
        padding: 1rem 2%;
    }

    .list {
        display: none;
    }

    .fa-bars {
        display: block;
    }

    .extra {
        padding: 12px 13px;
    }

    .extra1 {
        bottom: 11rem;
        left: 1rem;
    }

    .extra2 {
        top: 4rem;
        right: 1rem;
    }

    .habit_descriptions {
        margin: auto 0;
    }

    .habit_title {
        font-size: 2rem;
    }

    .habit_img_containers {
        grid-template-columns: repeat(1, 1fr);
    }

    .habit_img_container {
        margin-bottom: 4rem;
    }

    .habit_img {
        height: 70%;
    }

    .habit_img_description {
        margin-left: 16%;
        margin-right: 16%;
    }

    .run {
        flex-direction: column;
        padding: 8%;
        margin: auto 4%;
        gap: 30px;
    }

    .run_info {
        width: 100%;
    }

    .run_title {
        font-size: 32px;
    }

    .run_btn {
        width: 100%;
        margin-bottom: 25px;
    }

    .run_img_container {
        width: 100%;
        height: 70%;
    }

    .run_image {
        transform: scale(1.35) translateY(21px) translateX(-10px);
    }



    .exercise {
        margin: 50px 4% 40px;
    }

    .exercise_img_container {
        height: 130px;
    }

    .exercise_img_containers_1 {
        grid-template-columns: 175fr 192fr;
    }

    .exercise_img_containers_2 {
        grid-template-columns: 157fr 210fr;
    }

    .exercise_img_container2 {
        background-position: center;
        background-size: cover;
    }

    .exercise_img_container3 {
        display: none;
    }

    .exercise_img_container6 {
        display: none;
    }
    .exercise_img_description {
        top: 75%;
        font-size: 0.6rem;
        font-weight: 300;
    }



    .bmi_info {
        max-width: 92%;
        margin: 25px 4%;
    }

    .bmi_container {
        flex-direction: column;
        gap: 30px;
        margin-left: 4%;
        margin-right: 4%;
    }

    .bmt_chart_title {
        margin: 30px 0 20px;
    }

    .bmi_calculator_title {
        margin-top: 40px;
    }

    .btn_bmi {
        width: 60%;
    }


    .team{
        margin-left: 4%;
        margin-right: 4%;
    }

    .team_img_containers {
        grid-template-columns: repeat(1, 1fr);
    }

    .team_img_container1 {
        display: none;
    }

    .team_img_container4 {
        display: none;
    }

    .team_title {
        font-size: 32px;
    }



    .footer_contents,
    .get_started_container{
        flex-direction: column;
    }
    .inner_footer {
        margin-left: 4%;
        margin-right: 4%;
    }
    .footer_contents{
        gap: 50px;
    }
    .get_started_title {
        margin-bottom: 20px;
    }
    .get_started_container {
        gap: 30px;
    }

}


















/* responsive for tab */
@media screen and (min-width:576px) and (max-width:996px) {
    .nav_container {
        width: 90%;
    }

    .banner_container {
        flex-direction: column;
        gap: 4rem;
        width: 80%;
    }

    .banner_info {
        margin-top: 3rem;
    }

    .banner_img img {
        width: 70%;
        margin: 0 15%;
    }

    .extra1 {
        bottom: 10rem;
        left: 4rem;
        padding: 26px 30px;
    }

    .extra2 {
        top: 15rem;
        right: 7rem;
        padding: 26px 30px;
    }

    .habit_descriptions {
        width: 90%;
    }

    .habit_img_containers {
        grid-template-columns: repeat(2, 1fr);
    }

    .run {
        margin: auto 2%;
    }

    .run_title {
        font-size: 36px;
    }

    .run_img_container {
        width: 256px;
        height: 319px;
    }

    .run_image {
        width: 100%;
        transform: scale(3.5) translate(-35px, 42px);
    }


    .exercise {
        margin: 70px 2%;
    }

    .exercise_img_containers_1 {
        grid-template-columns: 214fr 259fr 211fr;
    }

    .exercise_img_containers_2 {
        grid-template-columns: 276fr 210fr 200fr;
    }

    .exercise_img_container2 {
        background-position: center;
        background-size: cover;
    }


    .bmi_info {
        max-width: 590px;
        margin: 50px 3% 40px;
    }

    .bmi_container {
        flex-direction: column;
        gap: 60px;
        margin-left: 3%;
        margin-right: 3%;
    }

    .bmi_container,
    .team,
    .inner_footer {
        margin-left: 3%;
        margin-right: 3%;
    }

    .footer_contents{
        flex-direction: column;
    }

}